git+https://github.com/GeoNode/geonode-mapstore-client.git@4.x#egg=django_geonode_mapstore_client
git+https://github.com/GeoNode/geonode.git@4.x#egg=GeoNode
git+https://github.com/geosolutions-it/geonode-importer.git@master#egg=geonode_importer
